/* Общие стили */

body {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: regular;
    line-height: 24px;

    width: 100%;
    min-width: 1200px;
    margin: 0;

    text-transform: uppercase;

    color: black;
    background-color: #fff;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;

    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Стили кнопок */

.button {
    font-size: 16px;
    line-height: 18px;

    display: inline-block;

    width: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: #fb565a;
}

.button:hover {
    color: #fff;
    background-color: #e74246;
}

.button:active {
    color: #e26c6e;
    background-color: #d7373b;
}

.button-slider {
    font-size: 16px;
    line-height: 18px;
    width: 182px;
    height: 10px;

    margin-left: 20px;
    margin-bottom: 80px;
    padding-bottom: 22px;

}

.button-show {
    text-align: center;

    color: #000;
    background-color: #eee;
}

.button-show:hover {
    color: #000;
    background-color: #dfdfdf;
}

.button-show:active {
    color: #959595;
    background-color: #d5d5d5;
    box-shadow: 10px;
}
.write {
    width: 185px;
    margin-top: 23px;
    margin-bottom: 6px;
    padding-top: 13px;
    padding-bottom: 13px;
}
/* Header и навигация */

.top {
    background-color: #eee;
}

.logo:hover {
    opacity: .7;
}

.logo:active {
    opacity: .4;
}

.main-header {
    background-color: #eee;
}
.header {
    padding-top: 49px;
}
.main-header ul {
    width: 600px;
    padding: 0;

    list-style: none;
}
.main-navigation {
  margin-left: 20px;
}
.main-navigation a {
    color: black;
}

.main-navigation a:hover {
    color: #fb565a;
}

.main-navigation a:focus {
    color: #a6a6a6;
}

.main-navigation .active {
    border-bottom: 2px solid #fb565a;
}

.main-navigation {
    font-size: 16px;
    line-height: 30px;

    display: flex;
    flex-direction: row;

    padding-top: 50px;

    text-transform: uppercase;

    justify-content: space-between;
}

.site-navigation {
  width: 440px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 19px;
  margin-top: 25px;
  max-width: 440px;
}
.site-navigation ul {
    width: 440px;
}
.user-navigation {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 10px;

}
.cart {
  margin-left: 20px;
}
.cart img {
    margin-right: 10px;
}

h1 {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;

    padding-top: 28px;
    padding-bottom: 110px;
    padding-left: 32px;

    text-align: center;
    text-transform: none;
}

/* Слайдер */

.slider {
    position: relative;

    width: 100%;
    margin-top: 53px;
    margin-bottom: 40px;
}
.slider-controls {
    font-size: 0;

    position: absolute;
    z-index: 100;
    bottom: 104px;
    left: 50%;

    width: 160px;
    height: 18px;

    transform: translateX(-50%);
    text-align: center;
}

.slider-controls i {
    position: relative;

    display: inline-block;

    width: 18px;
    height: 18px;
    padding: 8px;

    cursor: pointer;
    vertical-align: middle;

    border-radius: 50%;
}

.slider-controls i::after {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 8px;

    width: 18px;
    height: 18px;

    content: '';

    border-radius: 50%;
    background: #fff;
}

.slider-controls .active::before {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;

    width: 4px;
    height: 4px;
    margin: -4px;

    content: '';

    border: 2px solid #c1c1c1;
    border-radius: 50%;
    background-color: inherit;
}
.slider-item {
    background-repeat: no-repeat;
    background-size: auto;
}

.slider-item .title {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;

    max-width: 600px;
    margin: 0;
    margin-bottom: 27px;
    padding-left: 20px;

    text-transform: none;
}

.slider-item .text {
    font-size: 16px;
    line-height: 24px;

    max-width: 430px;
    margin: 0;
    margin-bottom: 10px;
    padding-left: 20px;

    text-transform: none;

    color: #000;
}

.first {
    background-image: url('../img/slide-first.png');
    background-position: 93% 18px;
}

.second {
    display: none;

    background-image: url('../img/slide-second.png');
    background-position: 100% 0;
}

.third {
    display: none;

    background-image: url('../img/slide-third.png');
    background-position: 100% 20px;
}

.wrap-slider {
    display: flex;
    flex-direction: row;
}

/* Cтили преимуществ */

.advantages {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 60px;

    border-bottom: 2px solid #eeeeee;
}

.advantages ul {
    display: flex;
    flex-direction: row;

    width: 100%;
    padding-left: 20px;
    margin-top: 80px;
    list-style: none;

    justify-content: space-between;
}

.advantage-item {
    width: 300px;
    min-height: 348px;
    margin-right: 48px;

}

.advantages h3 {
    font-size: 24px;
    line-height: 30px;

    text-transform: uppercase;

    margin-top: 10px;
}

.advantages p {
    font-size: 16px;
    line-height: 24px;

    width: 260px;

    text-transform: none;

    color: #000000;
}

.advantage-web {
  display: inline-block;
  width: 100px;
  padding-top: 15px;
  padding-bottom: 12px;
  margin-top:  12px;

}

.advantage-app {
  display: inline-block;
  width: 100px;
  padding-top: 15px;
  padding-bottom: 12px;
  margin-top:  12px;

  background-color: #00ca74;
}

.advantage-app:hover {
    background-color: #00bc6c;
}

.advantage-app:active {
    color: #4dc491;
    background-color: #00aa62;
}

.advantage-presentation {
  display: inline-block;
  width: 100px;
  padding-top: 15px;
  padding-bottom: 12px;
  margin-top:  12px;

  background-color: #efc84a;
}

.advantage-presentation:hover {
    background-color: #eab534;
}

.advantage-presentation:active {
    color: #ebba53;
    background-color: #e5a722;
}


/* Стили информации и статистики */

.wrap-column {
    display: flex;
    flex-direction: row;

    width: 100%;
    margin-top: 70px;
    padding-left: 20px;
    padding-bottom: 50px;

    border-bottom: 2px solid #eee;
}

.information {
    width: 660px;

    list-style: none;
}

.information ul {
    list-style: none;
}

.statistic ul {
    list-style: none;
}
.information h3 {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;

    margin-bottom: 27px;

    text-transform: none;
}

.information b {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}
.information p {
    font-size: 16px;
    line-height: 24px;

    text-transform: none;
    margin-top: 5px;
    margin-bottom: 40px;

    color: #000000;
}
.products ul {
    padding: 0;
    list-style: none;
}
.product-item {
    font-size: 16px;
    line-height: 24px;

    margin-top: 25px;

    text-transform: none;

    color: #000000;
}
.products li:before {
    display: inline-block;

    width: 25px;
    height: 2px;
    margin: 0 11px 4px -37px;

    content: '';
    vertical-align: middle;

    background-color: #fb565a;
}

.statistic-item b {
    font-size: 45px;
    line-height: 45px;
}

.statistic {
    display: flex;
    flex-direction: column;

    width: 360px;
    margin-left: 140px;

    justify-content: flex-start;
}

.statistic figure {
    margin: 0;
}

.statistic h3 {
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
    margin-left: 20px;
}

.statistic ul {
    display: flex;

    justify-content: flex-end;
    align-items: stretch;
}

.statistic b {
    font-size: 45px;
    line-height: 45px;
}

.statistic p {
    font-size: 16px;
    line-height: 18px;

    text-transform: none;
}

.statistic-item {
    width: 100px;
    margin-left: 30px;
    margin-top: 10px;
}

.statistic-item:first-child {
    margin-left: 0;
}


/* Cтили лого партнеров */

.wrap-partners {
    padding-left: 20px;
    margin-top: 45px;

    border-bottom: 2px solid #eeeeee;
}

.partners {
    display: flex;
    flex-direction: row;

    padding: 0;

    list-style: none;

    justify-content: space-around;
}

.logo-item {
    display: inline-block;

    vertical-align: middle;
}

.partner-item a {
    opacity: .2;
}

.partner-item a:hover {
    opacity: 1;
}

.partner-item a:active {
    opacity: .1;
}
.partner-item {
    padding-right: 50px;

    border-right: 2px solid #eee;

    border-right-height: 20px;
}

.partner-item:last-child {
    padding-right: 0;

    border-right: none;
}

/* Cтили фильтра */
.filter-item {
    margin: 0;
    padding: 0;

    border: none;
}
.range-filter {
    width: 260px;
    margin-top: 55px;
}
.filter-item legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 40px;

    text-transform: uppercase;
}
.range-controls {
    position: relative;

    height: 41px;
    margin-top: 60px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;

    border-radius: 5px;
    background-color: #f1f1f1;
}
.range-controls .scale {
    height: 2px;

    background: #d7dcde;
}
.range-controls .bar {
    width: 70%;
    height: 2px;

    background: #00ca74;
}
.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;

    width: 4px;
    height: 4px;
    padding: 0;

    cursor: pointer;

    border: 8px solid #fff;
    border-radius: 50%;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .toggle-min {
    left: 18px;
}
.range-controls .toggle-max {
    left: 160px;
}
.price-controls {
    font-size: 0;
}
.price-controls label {
    font-size: 16px;

    display: inline-block;

    width: 50%;

    vertical-align: middle;
    text-transform: uppercase;
}
.price-controls input {
    font-family: 'Roboto','Arial', sans-serif;
    font-size: 16px;

    width: 60px;
    margin-left: 10px;
    padding: 8px 10px;

    text-align: center;

    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}
.max-price {
    text-align: right;
}
.filter-grid {
    font-size: 16px;

    margin-top: 56px;
    padding: 0;

    color: #c1c1c1;
    border: none;
}
.filter-grid p {
    font-size: 16px;
    line-height: 20px;

    text-align: left;
    text-transform: none;

    opacity: .8;
    color: #283136;
}
.filter-grid p:hover {
    opacity: 1;
}

.filter-grid legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    text-transform: uppercase;

    color: #000;
}

.filter-specials {
    font-size: 16px;

    margin-top: 28px;
    padding: 0;

    color: #c1c1c1;
    border: none;
}
.filter-specials legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    text-transform: uppercase;

    color: #000;
}

.filter-specials p {
    font-size: 16px;
    line-height: 20px;

    text-align: left;
    text-transform: none;

    opacity: .8;
    color: #283136;
}

.filter-specials p:hover {
    opacity: 1;
}

.filter-grid .filter-specials input[type='checkbox'],
input[type='radio'] {
    display: none;
}
.filter-grid input[type='radio'] + label:before {
    display: inline-block;

    width: 25px;
    height: 25px;
    margin-right: 5px;

    content: '';
    text-align: center;
    vertical-align: middle;

    opacity: .4;
    background-image: url('../img/radio-off.png');
    background-repeat: no-repeat;
    background-position: left center;
}
.filter-grid input[type='radio']:checked + label:before {
    background-image: url('../img/radio-on.png');
}

.filter-specials input[type='checkbox'] + label:before {
    display: inline-block;

    width: 30px;
    height: 23px;
    margin-right: 3px;

    content: '';
    vertical-align: middle;

    opacity: .4;
    background-image: url('../img/checkbox-off.png');
    background-repeat: no-repeat;
    background-position: left center;
}

.filter-specials input[type='checkbox']:checked + label:before {
    background-image: url('../img/checkbox-on.png');
}

.wrap-filter {
    display: block;

    width: 260px;
    margin-right: 140px;
    padding: 0;
}

.filter {
  margin-left: 20px;
}


/* Стили сортировки */

.sort-wrap {
    display: flex;

    justify-content: space-between;
}

.sort-item a {
    font-size: 14px;
    line-height: 18px;

    color: #e5e5e5;
}

.sort-item a:hover {
    color: #adadad;
}

.sort-item a:focus {
    color: #000;
}
.sort-item a:active {
    color: #000;
}
.sort-item .active {
    color: #000;
}

.sort-list {
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;

    list-style: none;

    justify-content: space-around;
}

.sort-item {
    margin-right: 28px;
}
.sort-item:hover {
    opacity: .5;
}
.sort-item .down {
    opacity: .5;
}

/* Стили карточек клиентов и центральной секции */

.column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}


.central b {
    font-size: 18px;
    line-height: 18px;
}

.client h3 {
    font-size: 18px;
    line-height: 30px;

    color: #000;
}

.clients {
    display: flex;
    flex-direction: row;

    margin-top: 60px;
    margin-bottom: 89px;

    flex-wrap: wrap;
}

.client {
    position: relative;
  
    margin-bottom: 33px;
}

.central {
    display: flex;
    flex-direction: column;

    width: 760px;

    margin-bottom: 30px;
    margin-left: 18px;
}
.image-wrap {
    position: relative;

    overflow: hidden;

    width: 360px;
    height: 617px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f1f1f1;
}
.image-head {
    font-size: 0;

    position: relative;

    width: 360px;
    height: 30px;
    padding-top: 10px;
    padding-left: 12px;
}
.image-head:before {
    color: #f1f1f1;
}

.image-wrap:hover .client-description {
    opacity: 1;
}
.image-wrap:hover .image-head {
    background-color: #4d4d4d;
}

.image-head span {
    display: inline-block;

    width: 10px;
    height: 10px;
    margin-right: 7px;

    vertical-align: middle;

    border-radius: 50%;
    background-color: #fff;
}
.client-description {
    position: absolute;
    bottom: 0;

    overflow: auto;

    width: 360px;
    height: 233px;
    max-height: 233px;

    text-align: center;

    opacity: 0;
    background-color: #eee;
}

.client-description:hover {
    opacity: 1;
}
.client-description h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}
.client-description p {
    font-size: 16px;
    line-height: 18px;

    width: 240px;
    margin: 0 auto;
    margin-top: 15px;

    text-align: center;
    text-transform: none;

    color: #9c9c9c;
}

/* Стили пагинатора */

.paginator a:hover {
    color: #000;
    background-color: #dfdfdf;
}


.paginator {
    font-size: 16px;
    line-height: 50px;

    display: flex;

    margin: 0;
    margin-top: 56px;
    margin-bottom: 60px;
    margin-left: 2px;
    padding: 0;

    list-style: none;

    text-align: left;
    text-transform: uppercase;

    flex-wrap: wrap;
}

.paginator-item {
    display: inline;
}

.paginator-item a {
    margin-right: 11px;
    padding: 16px 21px;

    color: #000;
    border-radius: 3px;
    background-color: #eee;
}
.paginator-item .active a {
    background-color: #fff;
}
.paginator-item a:active {
    padding: 16px 21px;

    border: none;
    background-color: #d5d5d5;
    box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.paginator-item .next:active a {
    padding-right: 76px;
    padding-left: 76px;
}

/* Стили футера */

.main-footer {
    margin-top: 95px;
}

.social {
    display: flex;

    margin-top: 70px;
    margin-bottom: 77px;
}

.footer-social {
    display: flex;

    width: 260px;
    margin: 0;
    margin-top: 2px;
    padding-left: 20px;
}

.footer-social a {
    position: relative;

    display: flex;

    width: 80px;
    height: 80px;
    margin-right: 7px;

    border-radius: 50%;
    background-color: #e1e1e1;
    background-repeat: no-repeat;
    background-position: center;

    align-items: center;
    justify-content: space-around;
}


.footer-social a:hover {
    background-color: #e74246;
}

.footer-social a:active {
    background-color: #d7373b;
}

.footer-contacts {
    font-size: 16px;
    line-height: 18px;

    color: #000;
}
.footer-contacts b {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
}
.promote {
    margin-left: 140px;
    padding-top: 15px;
}
.promote b {
    font-size: 36px;
    font-weight: bolder;

    margin-bottom: 14px;

    color: #000;
}
.promote p {
    font-size: 16px;
    line-height: 22px;

    text-transform: none;

    color: #444;
}

.map-container {
    width: 100%;

    text-align: center;
}

.map-container img {
    max-width: 100%;
}

.container-mark {
    position: absolute;

    display: flex;
    flex-direction: column;

    width: 255px;
    margin-top: 54px;
    margin-bottom: 54px;
    margin-left: 28px;
    padding: 30px;

    text-align: center;

    background: white;

    flex-wrap: wrap;
}
.footer-contacts h3 {
    margin-bottom: 33px;
}
.form-wrap {
    display: flex;
    flex-direction: row;

    width: 760px;
}
.modal-form {
    position: fixed;
    top: 50%;
    left: 50%;

    display: none;

    width: 960px;
    height: 590px;
    margin-top: -300px;
    margin-left: -550px;
    padding: 75px;

    background: white;
    box-shadow: 0 25px 100px 0 black;
}

.modal-form b {
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;

    position: relative;
    position: relative;
    top: 70px;

    margin-left: 100px;

    color: #000;
}
.modal-show {
    display: block;

    animation: bounce .6s;
}
@keyframes bounce {
    0%
    {
        transform: translateY(-2000px);
    }
    70%
    {
        transform: translateY(30px);
    }
    90%
    {
        transform: translateY(-10px);
    }
    100%
    {
        transform: translateY(0);
    }
}

.form-area {
    width: 760px;
    margin-top: 34px;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
}
.input-write label {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
}
.input-write input {
    font-size: 16px;
    line-height: 18px;

    width: 360px;
    height: 48px;
    padding-left: 15px;

    opacity: .2;
    border: 2px solid black;
    border-radius: 3px;
    outline: none;
}

.input-write:first-child {
    margin-right: 70px;
}
.input-write textarea {
    font-size: 16px;
    line-height: 18px;

    width: 810px;
    height: 103px;
    padding-top: 15px;
    padding-left: 15px;

    resize: none;

    opacity: .2;
    border: 2px solid black;
    border-radius: 3px;
    outline: none;
}

.input-write .letter {
    margin-top: 60px;
}

.input-write .name {
    margin-left: 40px;
}
.modal-close {
    font-size: 0;

    position: absolute;
    top: 80px;
    right: 60px;

    width: 30px;
    height: 30px;

    cursor: pointer;

    border: 0;
    outline: 0;
    background-color: transparent;
}

.modal-close:hover::before,
.modal-close:hover::after {
    opacity: 1;
}

.modal-close:active::before,
.modal-close:active::after {
    opacity: .2;
}

.modal-close::before,
.modal-close::after {
    position: absolute;
    top: 10px;
    left: 2px;

    width: 20px;
    height: 3px;

    content: '';

    opacity: .5;
    border-radius: 2px;
    background-color: #fb565a;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}
